.sidenav{
    width: 250;
    background-color: rgb(64, 77, 252);
    border-radius: 0px !important;
}

.main-content{
    background-color: rgba(219, 219, 219, 0.744);
    padding: 20px;
}

.app-title{
    margin-left: 20px;
}

.mat-toolbar{
    background-color: rgb(57, 57, 255);
    color: white;
}