<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" opened="true">
      <mat-nav-list>
        <mat-list-item routerLink="/">
          Dashboard
        </mat-list-item>
        <mat-list-item routerLink="/">
          Añadir un paciente
        </mat-list-item>
        <mat-list-item routerLink="/">
          Lista de Pacientes
        </mat-list-item>
        <mat-list-item routerLink="/">
          Contacto
        </mat-list-item>
      </mat-nav-list>
    
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
<span class="app-title">Farmacias Similares</span>

    </mat-toolbar>

      <router-outlet />
  </mat-sidenav-content>

</mat-sidenav-container>


