.card-actions{
    display: flex;
    justify-content: right;
}

.mat-pagination{
    width: 100%;
}

.mat-mdc-header-row{
    background-color: rgb(23, 62, 178);
    color: #fff;
}

.mat-card-title{
    padding: 20px;
}