<mat-card>
    <mat-card-header>
        <mat-card-title>
            Pacientes
        </mat-card-title>
    </mat-card-header>

    <mat-card-actions class="card-actions">
        <mat-paginator class="mat-pagination" [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5,10,15,20]" (page)="onPageChange($event)">
        </mat-paginator>
    </mat-card-actions>

    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="tabla-paciente">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let paciente">{{ paciente.id}}</td> 
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let paciente">{{ paciente.nombre}}</td> 
            </ng-container>
            <ng-container matColumnDef="apellidoP">
                <th mat-header-cell *matHeaderCellDef>Apellido Paterno</th>
                <td mat-cell *matCellDef="let paciente">{{ paciente.apellidoP}}</td> 
            </ng-container>
            <ng-container matColumnDef="apellidoM">
                <th mat-header-cell *matHeaderCellDef>Apellido Materno</th>
                <td mat-cell *matCellDef="let paciente">{{ paciente.apellidoM}}</td> 
            </ng-container>
            <ng-container matColumnDef="doctor">
                <th mat-header-cell *matHeaderCellDef>Doctor</th>
                <td mat-cell *matCellDef="let paciente">{{ paciente.doctor}}</td> 
            </ng-container>
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let paciente">{{ paciente.fecha}}</td> 
            </ng-container>
            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef>Hora</th>
                <td mat-cell *matCellDef="let paciente">{{ paciente.hora}}</td> 
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let paciente">
                    <button mat-flat-button style="background-color: rgb(63, 63, 255);
    color: #fff;" [routerLink]="['/edit', paciente.id]">Editar</button>
                    <button mat-flat-button style="background-color: rgb(244, 39, 39);
    color: #fff;" (click)="deletePaciente(paciente.id)">Eliminar</button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasVisibles;"></tr>
        </table>
    </mat-card-content>

    
</mat-card>